
@model HomeViewModel

<partial name="_Carousel"/>

<h2>Cakes of the week</h2>
<h4>Our weekly selection just for you</h4>

<div class="row">

    @foreach (var cake in Model.cakeOftheWeek)
    {
        <partial name="_CakeCard" model="cake" />
    }
</div>